<ion-header>
  <ion-toolbar>
    <ion-title>Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="pokemon-grid">
    <ng-container *ngFor="let pokemon of pokemons">
      <ion-card *ngIf="pokemon?.sprites?.front_default" [routerLink]="['/detalhes', pokemon.name]">
        <ion-img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}"></ion-img>

        <ion-card-header>
          <p class="pokemon-id">Nº {{ pokemon.id | number:'4.0' }}</p>
          <ion-card-title class="text-capitalize">{{ pokemon.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-chip *ngFor="let type of pokemon.types">
            <ion-label [ngClass]="'type-' + type.type.name">{{ type.type.name | titlecase }}</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>

  <div class="pagination-buttons">
    <ion-button (click)="previousPage()" [disabled]="offset === 0">Anterior</ion-button>
    <ion-button (click)="nextPage()">Próximo</ion-button>
  </div>
</ion-content>