<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
    <ion-buttons slot="end" class="home-container">
     <ion-button data-testid="botao-home" [routerLink]="['/']" fill="clear" title="Home" class="home-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="32" height="32">
          <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
        </svg>
      </ion-button>
      <span class="botao-inicio">Início</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="pokemon">
  <h2 class="text-capitalize">{{ pokemon.name }}</h2>
  <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />

  <ion-list>
    <ion-item><strong>Altura:</strong> {{ pokemon.height }}</ion-item>
    <ion-item><strong>Peso:</strong> {{ pokemon.weight }}</ion-item>
    <ion-item><strong>Experiência base:</strong> {{ pokemon.base_experience }}</ion-item>
    <ion-item><strong>Tipo:</strong> {{ pokemon.types[0]?.type.name }}</ion-item>
    <ion-item><strong>Habilidade:</strong> {{ pokemon.abilities[0]?.ability.name }}</ion-item>
    <ion-item><strong>Ordem:</strong> {{ pokemon.order }}</ion-item>
  </ion-list>
</ion-content>